# cmake
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
_CPack_Packages/
cmake_uninstall.cmake
cmake_install.cmake
config.h

# CTEST
CTestTestfile.cmake
Testing/

# Emacs
*~
.#*
\#*#

# Packaging
*.rpm
*.deb
*.tgz
crtn-*-Linux-crtn.sh
crtn-*-Linux-crtn.tar.gz

# Installation
crtn.postinst
install_manifest_crtn.txt
install_manifest.txt
todo.txt

# Includes
crtn.h

# Build
*.o
*.so
*.so.*


# Manuals
man/*.3
man/*.7
man/*.gz

# Tests
tests/check_all
tests/fibonacci
tests/fibonacci_cc
tests/mywc
tests/mywc1
tests/mywc2
tests/mywc3
tests/mywc4
tests/mywc5
tests/mywc6
tests/mywc7
tests/sig
tests/switch_ctx2
tests/switch_ctx3
tests/tcrtn
tests/mbx

# Test coverage
all_coverage/